*{
    transition: var(--transition-2);
}
a{
  color: white;
}
.bewerbungLink{
  display: inline;
}

.light a, .link a:visited{
  color: var(--light-blue);
}

#switcher{
    cursor: pointer;
}

/* Light Theme Changes */
.light, .light .sidebar, .light .about, 
.light .service-item, .light .resume,
.light .portfolio,  .light .contact,
.light .service-item::before, .light .skill-progress-bg{
    background: white !important;
}

.light .navbar, .light .icon-box::before, .light #switcher,
.light .info-content .title, .light .project-item-icon-box{
    background:  var(--light-blue);
}

.light .project-item:hover{
box-shadow: var(--shadow-2);
  border-radius: 15px;
}

.project-item:hover{
  box-shadow: var(--shadow-2);
  border-radius: 15px;
}

.light .navbar{
  opacity: 0.8;
}

.light .sidebar .contact-title, .light h2, .light h3, .light h4, .light h5,
.light .filter-item button.active{
    color: var(--light-blue);
}

.light .sidebar .contact-link,.light .sidebar time,
.light .sidebar address,.light p, .light .name{
    color: var(--onyx);
}

.ionicon{
    fill: white;
}

.light .article-title::after, .light .skill-progress-fill,
.light .form-btn, .light .avatar-box{
    background:  var(--text-gradient-blue);
}

.light .timeline-item::after{
    background: var(--light-blue);
}

.light .timeline-list span,
.light .filter-item button:hover,
.light .social-item,.light .social-item .social-link{
    color: var(--light-lightblue);
}

.light .form-btn{
    color: var(--light-blue);
    background:var(--light-gray);
}

.light .project-item-icon-box, .light .navbar-link.active,
.light .icon-box{
    color:white;
}

.light .navbar-link.active{
    font-weight: bold;
}

.light .form-btn::before,
.light .content-card::before{
    background: white;
}

.light .skill .title-wrapper data,
.light .form-input{
    color: black;
}

.light .content-card{
    background: transparent;
}

.light .svg-path{
    fill: var(--light-blue);
}

.light :host .ionicon{
    stroke: white;
}

.light .timeline-item::after {
    box-shadow: 0 0 0 4px var(--light-blue);
}

.light ::selection {
    background: var(--light-blue);
    color: white;
  }

.light .info_more-btn, .light .info_more-btn:focus,
.light .info_more-btn::before {
    background: var(--light-blue);
    color: white; 
}


/* Toggle Switches */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--eerie-black-2);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .light .slider::before{
      background-color: white;
  }

  input:checked + .slider {
    background-color: var(--orange-yellow-crayola);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .light .filter-select,
  .light .select-list{
    background: var(--light-blue);
    color: white;
  }


  /* Scrollbars */
  .light .has-scrollbar::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
  }
  
  .light .has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border-radius: 5px;
  }

  .light::-webkit-scrollbar-track { background:var(--light-gray); }

  .light::-webkit-scrollbar { width: 20px; }

  

  .light::-webkit-scrollbar-thumb {
    border: 5px solid var(--light-blue);
    background: var(--light-blue);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  .light::-webkit-scrollbar-thumb:hover,
  .light .select-item button { background: var(--light-blue); }

  .light::-webkit-scrollbar-button { height: 60px; }



  @media (max-width: 1250px){
    .sidebar-info {
      height:140px;
    }
  }

  @media (max-width: 768px){
    .sidebar-info {
      top: -5px;
      height:141px;
    }
  }

  @media (max-width: 580px){
    .sidebar-info {
      height:115px;
    }
  }

  .timeline-text{
    height: 10px;
    border: 1px solid red;
    overflow: hidden;
  }

  .timeline-enlarged{
    height: auto !important;
  }


  /* Style the tab */
.tab {
  overflow: hidden;
  border: none;
}

.light .tab{
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.light .tab button:hover {
  background-color: #fff;
}

/* Create an active/current tablink class */
.light .tab button.active {
  background-color: #fff;
  border-bottom: 3px solid var(--light-blue);
}

.tab button.active {
  border-bottom: 3px solid var(--orange-yellow-crayola);
}

/* Style the tab content */
.light .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-top: none;
}

.light .tablinks{
  font-size: 24px;
  color: var(--light-blue);
}

.light .tablinks{
  color: var(--light-blue);
}

.timeline-item p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.light .timeline-item p{
  color: var(--onyx);
}

/* Container Andere */
.hobbie-container{
  display: flex !important;
  flex-direction: row;
  cursor: auto;
}

.hobbie-item, .ehrenamt-item p{
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.light .hobbie-item, .light .ehrenamt-item p{
  color: var(--light-onyx);
}

.light .select-item button{
  background: var(--light-blue);
}

.light .select-item button:hover{
  color: var(--light-blue);
}

.ehrenamt-item span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.light .ehrenamt-item span {
  color: var(--light-blue);
}

.timeline-item a:hover, .timeline-item-title a:hover{
  color: var(--orange-yellow-crayola)
}

.light .timeline-item a:hover,.light .timeline-item-title a:hover{
  color: var(--onyx)
}

/* Modal Styles */
.modal-content{
  background: var(--onyx);
}

.light .modal-content{
  background: white;
}

.modal-item{
  color: white;
}

.light .modal-item{
  color: var(--onyx);
}